<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text">
        <h3>
            비트맵 프로젝트는 2024년 상반기에 1차 개발을 시작하여 2025년 상반기에 다국어 지원을 완료했습니다.<a href="{{'/notes' | relative_url}}"> demo </a> <a href="{{'/note/Private/2025-03-23-find-n-replace' | relative_url}}">1차 개발</a>에서는 
            프로젝트 수립과 진행에 관한 프로세스로 문제를 해결하고 Atomic design 형태의 디자인시스템을 개발했습니다. 2차 개발에서는 다국어 지원을 위해 Figma의 
            Variables를 Export/Import할 수 있는 <a href="{{'note/Private/2025-03-24-support-multiple-language' | relative_url}}">Variables2Sheet</a> Plugin과 등록한 비트맵 Glyphs를 찾고 변경하는 <a href="{{'/note/Private/2025-03-23-find-n-replace' | find-n-replace}}">Glyphs find & Replace</a>를 공유하고자 합니다.
        </h3>
        <h3>
        The Bitmap Project began its first phase of development in early 2024, and added multi-language support in early 2025. In phase 1, we established project processes to solve design issues and developed a design system based on Atomic design principles. 
        In phase 2, for multi-language support, I would like to share the Variables2Sheet Plugin that can export and import Figma Variables, and the Glyphs Find & Replace tool that can locate and modify registered bitmap glyphs.<a href="{{'/post/features' | relative_url}}"> features </a> and <a href="{{'/post/how-to' | relative_url}}"> how to</a>.
        </h3> 
</div> </div>

