/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank
/* Colors */
$background-color: #ffffff !default; //#eeeeee !default;
$text-color: #222831 !default;
$muted-text-color: #393e46 !default;
$primary-color: #ffffff !default; //#eeeeee !default;
$border-color: mix(#fff, #393e46, 75%) !default;
$footer-background-color: $primary-color !default;
$link-color: #2380ED !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;
